{:lexicon 1 :id "com.etzhayyim.airshed.outcomeVerification" :defs {:main {:type "record" :record {:type "object" :required ["activityId" "verificationStatus" "verifiedAt" "evidenceUris"] :properties {:activityId {:type "string"} :verificationStatus {:type "string" :enum ["verified" "inconclusive" "not-verified"]} :verifiedAt {:type "string" :format "datetime"} :evidenceUris {:type "array" :minLength 1 :items {:type "string" :format "uri"}} :note {:type "string"}}}}}}}
